; use the IA nexus proxy for npm
; registry=http://nexus.ia.local:8081/repository/npm-central-proxy/

strict-ssl=false

; register the inductiveautomation scope to our package publishing repo
; Set a new registry for a scoped package
@inductiveautomation:registry =http://nexus.ia.local:8081/repository/ia-node-packages/
@inductiveautomation:_auth=ZGVwbG95bWVudDpkZXBsb3kyYm1vcmVzZWM=


; output of echo -n 'myuser:mypassword' | openssl base64
; where user/password is currently the base deployment nexus credentials
_auth=ZGVwbG95bWVudDpkZXBsb3kyYm1vcmVzZWM=


email=pjones@inductiveautomation.com
