init.author.name = Perry Jones
init.author.email = pjones@inductiveautomation.com
init.author.url = http://www.inductiveautomation.com

; an email is required to publish npm packages
email=pjones@inductiveautomation.com
; always-auth=true
; strict-ssl=false

; use the IA nexus proxy for npm
; registry=http://nexus.ia.local:8081/repository/npm-central-proxy/

; register the inductiveautomation scope to our package publishing repo
; Set a new registry for a scoped package
@inductiveautomation:registry =http://nexus.ia.local:8081/repository/ia-node-packages/
@inductiveautomation:_auth=ZGVwbG95bWVudDpkZXBsb3kyYm1vcmVzZWM=
@inductiveautomation:strict-ssl=false

; output of echo -n 'myuser:mypassword' | openssl base64
; where user/password is currently the base deployment nexus credentials
; _auth=ZGVwbG95bWVudDpkZXBsb3kyYm1vcmVzZWM=
